:root {
    --main-bg-color: #222f3e;
    --main-text-color: #c8d6e5;
    --main-text-highlight-color: #f9fafc;
  }

body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--main-bg-color);
    left: 0;
    width: 100%;
    border-top: 1px solid var(--main-text-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--main-text-color)
}

a:active, a:hover {
    color: var(--main-text-highlight-color);
}
a:visited{
    text-emphasis: none;
}

.header{
    font-size: 18px;
}

.navigation-bar{
    margin-bottom: 10px;
    padding: 15px 50px;
}

        .navigation-bar .links li{
            padding: 5px 20px;
        }

.links{
    list-style: none;
    padding: 0;
}
.links li {
    display: inline-block;
    cursor: pointer;
}

.main-container{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.profile-bar .links li{
    padding: 0 5px;
}

.profile-bar img{
    height: 24px;
}

.profile-info {
    width: 50%;
}

.pull-left{
    float: left;
}

.pull-right{
    float:right;
}

.text-center{
    text-align: center;
}

.clearfix {
    clear: both;
}

.oval {
    border-radius: 50%;
    border: none;
}